/*{
    border-radius: 5px;
    border: 1px solid blue
}*/
.outline{
    width: 1350px;
    height: 600px;
    background-image: url(../images/rink.png);
    background-repeat: no-repeat;
    background-size: 1350px 600px;
}
.column2{
    text-align: center;
    width:100%;
    margin-bottom: 15px;
}
.image{
    width:250px;
    height:275px;
}
.title{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 15px;
}
#col{
    background-color: white;
    border-color:  blue;
    border-style: dotted;
    font-size: 30px;
}
#song{
    position: relative;
    top: 0%;
    text-align: center;
}
#jumbo{
    height: 135px;
    padding: 0px;
    margin: 10px;
}
#game{
    position: relative;
    top:59px;
}
#blankDiv{
    background: transparent;
}
#grid{
    position: relative;
    top: -20px;
}
.start{

}
.win{

}
.word{

}
.spaces{
    
}
.text-guess{

}
.guesses{

}
.text-letter{

}
.letter{

}